PORT=5000
DATABASE_URL="postgresql://postgres:insira_uma_senha_forte_aqui@localhost:5432/acheaq?schema=public"
JWT_SECRET="segredo"

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=noreply@sistema.com
RESET_PASSWORD_URL=http://localhost:5000/reset-password